<html>

  <head>
    <title>Christy's blog</title>
  </head>

  <body>
    <div>
      <h1><a href="/">Christy's Blog</a></h1>
    </div>

    <div>
      <p>published: 25.05.2018, 15:27</p>
      <h2><a ref="">My first blog post</a></h2>
      <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. These are the words on my first blog post.</p>
    </div>

    <div>
      <p>published:  25.05.2018, 15:29</p>
      <h2><a ref="">My second post</a></h2>
      <p>Hello!  These are the words for my second blog.</p>
    </div>
  </body>

</html>
